absl-py==1.0.0
anyio==3.5.0
argon2-cffi
asgiref==3.5.0
astunparse==1.6.3
async-generator==1.10
attrs
backcall==0.2.0
bleach
cached-property==1.5.2
cachetools==5.0.0
certifi==2020.6.20
cffi 
charset-normalizer==2.0.12
click==8.1.2
colorama
cycler==0.11.0
decorator==4.4.2
defusedxml==0.6.0
dnspython==2.2.1
email-validator==1.1.3
entrypoints==0.3
fastapi==0.75.1
flatbuffers==2.0
fonttools==4.31.2
gast==0.5.3
google-api-core==2.7.1
google-auth==2.6.2
google-auth-oauthlib==0.4.6
google-cloud-vision==2.7.2
google-pasta==0.2.0
googleapis-common-protos==1.56.0
grpcio==1.44.0
grpcio-status==1.44.0
h11==0.13.0
h5py==3.6.0
httptools==0.2.0
idna==3.3
imageio==2.9.0
importlib-metadata==4.11.3
itsdangerous==2.1.2
jedi
Jinja2==2.11.2
jsonschema
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.2
libclang==13.0.0
Markdown==3.3.6
MarkupSafe
matplotlib==3.5.1
mistune
nest-asyncio
networkx==2.6.3
numpy==1.21.5
oauthlib==3.2.0
opencv-python==4.5.4.60
opencv-python-headless==4.5.5.64
opt-einsum==3.3.0
orjson==3.6.7
packaging==21.3
pandocfilters==1.4.2
parso
pickleshare
Pillow==8.2.0
prometheus-client==0.8.0
prompt-toolkit
proto-plus==1.20.3
protobuf==3.20.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser
pydantic==1.9.0
Pygments
pyparsing==3.0.7
pyrsistent
python-bidi==0.4.2
python-dateutil==2.8.1
python-dotenv==0.20.0
python-multipart==0.0.5
PyWavelets==1.3.0
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==19.0.2
qtconsole
QtPy==1.9.0
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
scikit-image==0.19.2
scipy==1.7.3
Send2Trash==1.5.0
sip
six==1.16.0
sniffio==1.2.0
starlette==0.17.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io==0.24.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
tf-estimator-nightly==2.8.0.dev2021122109
tf-slim==1.1.0
tifffile==2021.11.2
tornado==6.0.4
traitlets
typing_extensions==4.1.1
ujson==4.3.0
urllib3==1.26.9
uvicorn==0.15.0
watchgod==0.8.2
wcwidth
webencodings==0.5.1
websockets==10.2
Werkzeug==2.1.1
widgetsnbextension==3.5.1
wincertstore==0.2
wrapt==1.14.0
zipp
gunicorn